html
   head
    include header.pug
   body
   form(action = "/overview/"+id, method = "POST") 
        .form-group.row
        label.col-sm-2.col-form-label(for='name') Name
        .col-sm-10
            input#inputEmail3.form-control(name='name', placeholder='Name')
        .form-group.row
        label.col-sm-2.col-form-label(for='name') Datum
        .col-sm-10
            input#inputEmail3.form-control(name='date',type="date", placeholder= "Datum")
        .form-group.row
        p Aufwand in h
        div
            label.col-sm-2.col-form-label.number(for='date') Soll
                input#inputEmail3.form-control.number(name='total_hours',type="number", min="0", max="999", placeholder = "")
            label.col-sm-2.col-form-label.number(for='total_hours') Ist
                input#inputEmail3.form-control.number(name='spent_hours', type="number", min="0", max="999", placeholder = "")
        
        .form-group.row
        label.col-sm-2.col-form-label(for='status') Ergebnis
        .col-sm-10
            input#inputEmail3.form-control(name='status', placeholder='Status')
            fieldset.form-group
        .row
        button.btn.btn-primary(type='submit') Klausur erstellen
        a.btn.btn-primary(href="/overview/"+id) Zurück
