html
   head
      title Form Tester
   body
      p Die angegebene E-Mail Adresse wurde bereits verwendet. Geben Sie bitte eine andere E-Mail Adresse an. Sollten Sie ihr Passwort vergessen haben, wenden Sie sich bitte an das Selbstlernzentrum.