html
   head
    include header.pug
      title Klausurplaner Startseite
      style
        include style.css

   body
      p Kontodaten eingeben um das Passwort zu ändern

        form(action = "/pwreset", method = "POST") 
                .form-group.row
                label.col-sm-2.col-form-label(for='mail') E-Mail
                .col-sm-10
                    input#inputEmail3.form-control(name='mail2', placeholder='E-Mail')
                .form-group.row
                label.col-sm-2.col-form-label(for='password') Passwort
                .col-sm-10
                    input#inputEmail3.form-control(name='password2', placeholder='Passwort')
                .form-group.row
                label.col-sm-2.col-form-label(for='password') neues Passwort
                .col-sm-10
                    input#inputEmail3.form-control(name='password3', placeholder='neues Passwort')
                .form-group.row
                label.col-sm-2.col-form-label(for='password') Passwort wiederholen
                .col-sm-10
                    input#inputEmail3.form-control(name='password4', placeholder='Passwort wiederholen')
                    fieldset.form-group
                .row
                button.btn.btn-primary(type='submit') Passwort ändern