html
   head
    include header.pug
      title Klausurplaner Startseite
      style
        include style.css
      style
   body
      p Klausur wirklich löschen?
      form(action = "/examdeleted/"+origin, method = "POST")
         button.btn.btn-primary(type='submit') Klausur löschen
      a.btn.btn-primary(href='/overview/'+origin) Zurück 
      a.btn.btn-primary(href='/') Logout
      
      

         