html
   head
    include header.pug
      title Klausurplaner Startseite
      style
        include style.css
      style.
        .hidden{
          display:none
        }
   body
      -console.log(origin);
      -var substring = "archiv";
      if(origin.includes(substring))
        -origin = origin.replace("http://localhost:3000/archiv/","");
        -console.log(origin);
      form(action = "/examdeleted/"+origin, method = "POST")
         button.btn.btn-primary.hidden(id="watchButton" type='submit')
      script.
        $(function() {
          $('#watchButton').click();
        });
      
      

         