html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            label(for = "mail") E-Mail: 
            input(name = "mail" value = "Ihre E-Mail Adresse")
         br
         div
            label(for = "password") Passwort: 
            input(name = "password" value = "Passwort")
         br
         div
            label(for = "faculty") Studiengang: 
            input(name = "faculty" value = "Ihr Studiengang")
         br
         button(type = "submit") Senden