html
   head
      title Form Tester
   body
      p Übersicht ihrer Klausuren:
      li
         ol
         ol
         ol
               form(action = "/addpage", method = "GET")
                  button(type = "submit") Klausur hinzufügen