html
   head
    include header.pug
      title Form Tester
      style
        include style.css
   body
      p Login erfolgreich
        br
        form(action = "/addpage/"+context, method = "GET")
          button.btn.btn-primary(type='submit') Klausur hinzufügen
        form(action = "/overview/"+context, method = "GET")
          button.btn.btn-primary(type='submit') Übersicht anzeigen
