html
   head
      title Form Tester
      style
        include style.css
   body
      p Login erfolgreich
        form(action = "/addpage", method = "GET")
          button(class='styled' type = "submit") Klausur hinzufügen