html
   head
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy', crossorigin='anonymous')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js', integrity='sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4', crossorigin='anonymous')
      script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
      title Klausurplaner Startseite
      style
   body
      p Kontodaten eingeben zum einloggen
      p(class = "failed") Ihr Passwort konnte nicht geändert werden. Die eingegebenen Daten sind nicht korrekt.
      form(action = "/login", method = "POST")
         div
            label(for = "mail") E-Mail: 
            input(name = "mail2" value = "")
         br
         div
            label(for = "password") Passwort: 
            input(name = "password2" value = "")
         br
         button(class='styled' type = "submit") Login
         a(class='edit' href='/changepw/') Passwort ändern
         br

         br
         br
         br
         br
      p Sie haben noch kein Konto? Hier können Sie sich registrieren
      form(action = "/register", method = "POST")
         div
            label(for = "mail") E-Mail: 
            input(name = "mail" value = "")
         br
         div
            label(for = "password") Passwort: 
            input(name = "password" value = "")
         br
         div
            label(for = "faculty") Studiengang: 
            input(name = "faculty" value = "")
         br
         button(class='styled' type = "submit") Registrieren
         
         br

         