html
   head
    include header.pug
      title Klausurplaner Startseite
      style
        include style.css
   body
      p Kontodaten eingeben zum einloggen
      p(class = "failed") Ihr Passwort wurde geändert
      form(action = "/login", method = "POST") 
        .form-group.row
        label.col-sm-2.col-form-label(for='mail') Mail
        .col-sm-10
            input#inputEmail3.form-control(name='mail2', placeholder='Mail')
        .form-group.row
        label.col-sm-2.col-form-label(for='password') Passwort
        .col-sm-10
            input#inputEmail3.form-control(name='password2', placeholder='Passwort')
            fieldset.form-group
        .row
        button.btn.btn-primary(type='submit') Login
      a.btn.btn-primary(href="/changepw/") Passwort ändern
      p Sie haben noch kein Konto? Hier können Sie sich registrieren
        
      form(action = "/register", method = "POST") 
        .form-group.row
        label.col-sm-2.col-form-label(for='mail') Mail
        .col-sm-10
            input#inputEmail3.form-control(name='mail', placeholder='Mail')
        .form-group.row
        label.col-sm-2.col-form-label(for='password') Passwort
        .col-sm-10
            input#inputEmail3.form-control(name='password', placeholder='Passwort')
        .form-group.row
        label.col-sm-2.col-form-label(for='faculty') Studiengang
        .col-sm-10
            input#inputEmail3.form-control(name='faculty', placeholder='Studiengang')
            fieldset.form-group
        .row
        button.btn.btn-primary(type='submit') Registrieren

