html
   head
    include header.pug
      title Form Tester
      style
        include style.css
   body
      p Die Aktivierung ihres Kontos war erfolgreich!
      a.btn.btn-primary(href='/') Zur Startseite