html
   head
    include header.pug
      title Form Tester
      style
        include style.css
   body
        form(action = "/activate", method = "POST") 
                .form-group.row
                label.col-sm-2.col-form-label(for='mail') Mail
                .col-sm-10
                    input#inputEmail3.form-control(name='mail', placeholder='Mail')
                .form-group.row
                label.col-sm-2.col-form-label(for='Code') Code
                .col-sm-10
                    input#inputEmail3.form-control(name='Code', placeholder='Code')
                button.btn.btn-primary(type='submit') Konto aktivieren