html
   head
      title Form Tester
      style
        include style.css
   body
      form(action = "/activate", method = "POST")
         div
            label(for = "mail") E-Mail: 
            input(name = "mail" value = "")
         br
         div
            label(for = "Code") Code: 
            input(name = "Code" value = "")
         br
         button(class='styled' type = "Konto aktivieren") Konto aktivieren